# deps
node_modules/
.pnpm-store/

# build
dist/
*.tsbuildinfo

# env / secrets
.env
.env.local
.env.*.local

# editor
.vscode/
.idea/
*.swp
.DS_Store

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# test
coverage/
.vite/
